/* Corps de la page */

#body
{
    width: 90%;
    margin: auto;
   
}


h1
{
    padding-left: 4px;
    font-weight: bold;
    font-size: 1.3em;
}

#hebergement h2
{
    margin-left: 18px;
}

/* header */

.header
{
    display: flex;
    align-items: center;
    
    
}


.header p
{
    padding-left: 900px;
}

.haut
{
    justify-content: space-between;
}

.header_hebergement
{
   border-bottom: none;

}
.header_activite
{
    border-bottom: none;
    color: #0065FC;
}


/* header navigation */

.recherche
{
    width: 50%;
    
}

.champ
{
    width: 30%;
}


.fas.fa-search
{
    display: none;
}

.bouton_desktop
{
    display: flex;
    background-color: #0065FC;   
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding-top: 10px;
    margin-left: 4px;    

}

.filtres

{   display: flex;
    width: 100%;
    font-weight: bold;
    align-items: center;
   
}

.filtres li
{
    margin-right: 40px;
}


    /* hébergements populaires */

    .hebergement_populaire
{
    width: 30%;        
    order:2;
    background-color: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    height: 505px
    
}

.figure_populaire
{
    margin-top: 20px;
    height: 105px;
    
}    
.apercu_populaire
{
    width: 105px;
}

.description_populaire
{
    font-size: 0.7em;
}

.tous_logements_populaire
{
    padding-top: 10px;
}

.tous_logements_populaire .fas.fa-star
{
    padding-top: 18px;
}

/* hebergement Marseille */

.hebergement
{
    width: 66%;
    height: 100%;
    order: 1;
    background-color: #F2F2F2;
    padding-left: 12px;
    border-radius:  10px 10px 10px 10px;    
    
}

#hebergement
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bp1
{
    display: flex;
    justify-content: space-around;        
}


.hebergement_marseille
{
    width: 250px;
    height: 80%;
}


/* Activites */


.activite_desktop
{
    display: flex;
    justify-content: space-around;
    
}

.bp2
{
    height: 500px;
    margin-left: 100px;
  
}

.bp3
{
    display: flex;
   
   
   
}


.activite_marseille
{
    height: 40%;
    margin-top: 12px;
    margin-top: 40px;
  
}


.apercu_activite
{
    height: 85%;    
   
}

.gde
{
    height: 87%;
}


.description_activite
{
    padding-top: 4px;
    padding-left: 12px;
    font-weight: bold;
}

/* footer */

.footer
{   
    display: flex;    
    justify-content: space-around;
}
   
    
