#bobo
{
    width: 1600px;
    margin: auto;


}


.header
{
    display: flex;
    justify-content: space-between;
}

.menu
{
    display: flex;
    
}

li
{
    list-style-type: 13;
    margin-right: 3px;
    padding-right: 50px;    
    list-style-type: none;

}





                                /* Barre de recherche */


#barre_recherche
{
    display: flex;
    font-size: 2em;
}
 
.geoloc
{
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 7px 0px 0px 7px;
}

.barre
{
    padding-right: 60px;
    padding-left: 5px;
}




                                        /* Barre de filtres */

#filtres
{
    display: flex;
    width: 65%;
    justify-content: space-between;
    font-size: 1.3em;

}

.brech
{
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}
.bouton
{
 font-size: 1.2em;

}


.fas.fa-child
{
    background-color: #DBF2FF;
    
    
}

.bouton:nth-child(1)
{

  background-color: green;
}


.fas.fa-money-bill-wave
{
    background-color: #DBF2FF;
  
   
}


.bouton:nth-child(2)
{

}
.fas.fa-heart
{
    background-color: #DBF2FF;
}


.bouton:nth-child(3)
{

}

.fas.fa-dog
{
    background-color: #DBF2FF;
}


.bouton.bouton:nth-child(4)
{

}




.photos
{
    width: 200px;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
   
}



td
{
    
    background-color: #ECEDF2;   
    border: 4px solid white;
    border-radius: 10%;   
      
    
}





.table
{
    
    width: 900px;
    margin: auto; 
    border-spacing:  50px 50px;
    border-radius: 10%;
    
}

th
{
    font-size: 1.6em;
}

#heber
{
    background-color: #ECEDF2;
    border-radius: 5%;
    width: 66.6%;
      
}



.corps
{
    display: flex;
    border: 2px solid red;
    
}





footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#footer
{
    background-color: #0065FC;

}



figcaption
{
    background-color: white;
    border: 3px solid white;
    
}



.fas.fa-star
{
    color: #0065FC;
}






.foactiv
{
    width: 150px;
    height: auto;
    border-radius: 10%;
   
}

.gfoactiv
{
    
    border-radius: 10%;
    width: 300px;
    height: auto;


}

#activite
{

    display: flex;
    position: relative;
    padding-top: 50px;
    
    
    
}

.activite
{
    background-color: #ECEDF2;
    padding-right: 50px;
    width: 100%;
    padding-top: 50px;
    border-radius: 10%;
 
}




















#populaire
{
    padding-left: 100px;
}


#p2
{
    width: 400px;
   
    background-color: ECEDF2;
    border-spacing:  10px 20px; 
    height: 100%;


}


.figpop
{
    display: flex;
    width: 100%;
    height: auto;
}

.pop
{
    width: 165px;
    height: 130px;
}



.foncfoot
{
    line-height: 20px;
}



@media screen and (max-width: 1024px)
{
    #body
    {
        width: auto;
    }

    nav ul
    {
        flex-direction: column;
    }
}










#heber1
{
    background-color: #ECEDF2;
    border-radius: 5%;
    width: 66.6%;
    
}

.table1
{
    width: 900px;
    margin: auto; 
    border-spacing:  50px 50px;
    border-radius: 10%;
}

.photos1
{
    width: 200px;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
    border: 5px solid white;
}

.heb1
{
display: flex;
}

.heb2
{
    display: flex;
}


.corps1
{
    display: flex;
    border: 3px solid black;
}
