#body
{
    width: auto;
    margin: auto;
   font-size: 1em;
}

header p
{
    text-align: center;
}


p
{
    
    flex-wrap: wrap;
}

h4{
    font-size:1em;
    font-weight: bold;
}


.header
{
   display: flex;
   flex-wrap: wrap;
}


nav
{
    width: 100%;
    flex-wrap: wrap;
}

#filtres
{
    min-width: 40%;
    display: flex;
    flex-direction: column;
    
}

.info
{
    flex-wrap: wrap;
    text-align: center;
}
#barre_recherche
{
    margin: auto;
}

.activite
{
display: flex;
flex-direction: column;
margin-left: -12px;



}
.apercu_activite
{
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px; 
    
   
}



.apercu_gdeactivite
{
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;    
     
}




#hebergement_populaire
{
    
    order: 1;
    margin: auto;
}




#hebergement_dispo
{
    order: 2;
    margin: auto;
    width: 33.3%;
    margin-top: 20px;
    
}
#partie_hebergement
{
    display: flex;  
    flex-direction: column;    
    width: 100%;
    justify-content: center;
    
       
}

#activite
{
   width: 33.3%;
   margin: auto; 
   
   
}


footer
{
    flex-direction: column; 
    font-size: 1em;
    text-align: center;
    width: 33.3%;
    margin: auto;

}
