
/** Structure page**/

html
{
    width: 80%;
    margin: auto;
}

.corps
{
    display: flex;
}


ul
{
    list-style-type: none;
}

li
{
    padding-left: 50px ;
    padding-right: 10px;
}





/** Header**/

header
{
    height: 20%;
    border: 3px solid black;
    padding-left: 20px;
    padding-right: ;
}


nav
{
    display: flex;
}


.menu
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;
    align-items: flex-end;
    width: 2000px;
    padding-right: 50px;
    padding-left: 50px;
   
      
}

.fas.fa-info-circle
{
    color: white;
    font-size: 1.16em;
    margin-top: -3px;
    margin-left: -1px;
    
    
   
    
}


.icone
{
    
    border-radius: 100% ;
    height: 15px;
    width: 17px;
    top: 0;
    position: relative;
    background-color: blue;
   
}


nav
{
    display: flex;
    border: 3px solid blue;
}


ul
{
    display: flex;
}


.barre-recherche
{
    display: flex;
    border: 3px solid blue;
}













.header
{
    display: flex;
}


                                                                    /** Corps de la page **/



                                                                    
                                                                /** Hebergement à Marseille **/



#hebergement
{
   
    width: 66%;  
    height: 600px;  
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 50px;
    
   
}



.aubcan
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
    
}


.hotpor
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}


.hotmou
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.hotmer
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.aubpan
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.hotami
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}



    #hotel
    {
        width: 28%;
    }




                                                
                                                                    /** Les Plus populaire **/

#populaire
{
    width: 33%;
    background-color: #F2F2F2;    
    
    
}


.hotsol
{
    height: 180px;
    border-radius: 10px 10px 0px 0px;
   
}



                                                                                /** Footer **/

footer
{
    height: 15%;
    display: flex;
    justify-content: space-around;
}






